*{
  margin:0px;
  padding:0;
}
ul{
  width:auto;
}
li.slide{
  list-style-type: none;
  position: static;
  float:left;
  overflow: hidden;
  height:auto;
  max-height:300px;
}
li.slide img{ 
  padding:0;
  margin:0;
  display: block;
}
.textOver{
  text-align: center;
  background-color: white;
  height:300px;
  position: absolute;
  z-index: 100;

}
.textSetting{
  position: absolute;
  top:100px;
  text-align:left;
}
.fadeIntext01{
  opacity:1;
  top:20px;
}
.fadeIntext02,.fadeIntext03,.fadeIntext04 {
  opacity:0;
}
h1{
  margin:0px;
}
h2{
  margin:10px;
  font-size:18px;
}
html{
  width:100%;
}
body{
  position:relative;
  height:auto;
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
  }
#header{
  background-color: #fff;
  opacity:0.8;
  width:100%;
  margin:0;
  border-bottom:1px dotted #eee;
  padding:10px 0 10px 0;
}  
#innerHeader{
  width:100%;
  margin:0 10px 10px 10px;
}
.contentsHolder{
  width:100%;
  height:auto;
      
}
#recentWork{
  margin:20px auto;
  position: relative;
  background-color: #eee;
}

p.small{
  font-size:10px;
  color:#ccc;
}
#mainSlide{
  position:relative;
  left:0;
  height:auto;

}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

p.next,p.back
{
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color:#ccc;
  display:block;
  position:absolute;
  z-index:1000;
  cursor: pointer;
}
#loader-bg {
  position: fixed;
  width:100%;
  height:100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index:9999;
}
#wrap{
  width:100%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
.textOver{
  position:relative;
  height:120px;
  z-index: 0;
}
.textSetting{
  text-align: left; 
}
p.next,p.back
{
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  }
}